.center {
    margin: auto;
    text-align: center;
}

.message {
    font-size:42px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    background-color: rgb(39,40,34);
    font-size:100px;
}

.list {
    width: 50%;
}

.item {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    background-color: rgb(39,40,34);
    width:unset;
}

body {
    font-family: Consolas, monaco, monospace;
    font-size: 24px;
    background-color: rgb(27, 27, 23);
    color: rgb(220,220,170);
}

p {
    margin: 0px;
}

a:link {
    color: rgb(182, 255, 0);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(182, 255, 0);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}